.selectChose{padding-left: 65px;}
.Puplebg{background-color: rgb(215, 180, 255);}
.buttonbg{background-color: rgb(68, 5, 185);}
.bgAnime{background: linear-gradient(187deg, rgba(252,255,117,0.9724264705882353) 0%, rgba(255,27,246,1) 21%, rgba(199,118,244,1) 37%, rgba(252,32,246,1) 52%, rgba(255,27,246,1) 61%, rgba(105,36,255,0.7791491596638656) 74%, rgba(255,157,36,0.7791491596638656) 100%)}