.midFont{
    margin-left: 220px;font-size: 48px;
    text-shadow: 2px 2px #a7014f;
    margin-top: 14px;

}
.inputSt{
    margin-top: 20px;
    font-size: 16px;
}
.sizeinput{width: 300px;}
.changForm{margin-left: 150px;padding-bottom: 30px;padding-top: 10px;}
.buttomLg{margin-left: 200px;margin-top:20px;font-size: 16px;}
.buttomLg:hover{background-color: rgb(54, 51, 51) !important;color: #fff;}
.card{box-shadow: indigo 2px 2px;margin-top: 200px;margin-left: 180px;width: 660px ;border: 0px !important;background-color:rgb(168, 174, 255)  !important;}
#root > section > main > div{padding-top: 40px;padding-bottom:350px;background-color: rgb(255, 199, 248);background: linear-gradient(187deg, rgba(253,255,169,0.7791491596638656) 0%, rgba(176,85,255,1) 48%, rgba(255,248,177,0.8911939775910365) 100%);}
.pink{background-color: rgb(255, 199, 248);}
