.logoName{
    background-color: rgb(238, 179, 253);
    color: white;
    font-size: 36px;
    text-align: center;
    padding: 20px 0px;
    border-left: 300px solid rgb(163, 30, 157);
    border-right: 300px solid rgb(163, 30, 157);
}